$color-theme : #11919a;  //淡墨绿色
$color-purple : #749ED9;  //淡紫色
$color-grey : #e9e9e9;   //淡灰色
$color-green : #42B983;   //绿色
$color-grey-d: rgb(245,247,249);
$color-text : #fff;
$color-text-d : rgba(10, 10, 10, 0.3);
$color-text-l : rgba(10, 10, 10, 0.5);
$color-text-ll : rgba(10, 10, 10, 0.8);
$color-text-black: #333333;
$color-text-grey-d : rgba(250, 250, 250, 0.3);
$color-text-grey-l : rgba(250, 250, 250, 0.5);
$color-text-grey-ll : rgba(250, 250, 250, 0.8);
$color-red: rgb(255, 90, 95);

$font-mini : 12px;
$font-normal : 14px;
$font-large : 16px;
$font-large-xx : 18px;
$font-large-xxx : 20px;
$font-large-xxxx : 22px;
$font-size-30: 30px;
